

.product-bar{
  display: flex;
  justify-content: space-between;
  background-color: #0167B1;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.product-bar button {
  display: flex;
  align-items: center;
  background-color: #0168b100;
  border: none;
  color: white;
  font-size: 17px;
  
}

.deal{
  background-color: #0167B1;
  padding: 5px;
  border-radius: 5px;
}

.product-bar button span {
  margin-top: 4px;
}

.product-bar a{
  text-decoration: none;
}

.image-1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.card-flex{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: 50%;
}

.boost-card p{
    display: block;
    height: 25px;
    overflow: hidden;
}

.product-container-1{
  overflow: hidden;
  padding: 0px 10% 50px 10%;
}

.boost-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
  gap: 10px;
  
}

/* hide vertical scroll 
.projects::-webkit-scrollbar {
  height: 5px;
}

.projects::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}*/

/* Card */
.boost-card {
     /* important */
  flex: 0 0 auto;     /* prevents shrinking */
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  padding: 10px;
}

.boost-card:hover {
  transform: translateY(-5px);
}

.boost-card-image {
  height: 135px;
  width: 135px;
  object-fit: cover;
}

.boost-card-body {
  padding: 5px;
}

.boost-card-body h5{
  font-weight: 600;
}

.boost-one-line-text {
  white-space: nowrap;        /* Prevent text from going to next line */
  overflow: hidden;           /* Hide extra text */
  text-overflow: ellipsis;    /* Show ... */
}


.boost-cabo-h5{
  text-decoration: line-through;
  font-weight: 400;
  color: #8a8989;
  font-size: small;
}

.boost-product-btn{
  background-color: #FE6803;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.boost-boo{
  display: flex;
  justify-content: center;
}

.boost-small{
  display: none;
}

@media (max-width: 1000px){
  .boost-big{
    display: none;
  }

  .boost-small{
    display: contents;
  }
}