

.checkout-container {
  padding: 40px 10%;
}

.checkout-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.checkout-form {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout-summary {
  flex: 1;
  min-width: 200px;
  border: 1px solid #eee;
  padding: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 1350px){
    .checkout-container{
        padding: 20px 5%;
    }
}
