.search-page {
  padding: 40px 10%;
  margin-bottom: 6%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.no-result {
  margin-top: 20px;
  font-weight: bold;
}
