.search-page {
  padding: 40px 10%;
  margin-bottom: 6%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card-search {
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  padding: 10px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.product-card-search:hover {
  transform: scale(1.05);
}

.product-card-search img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.no-result {
  margin-top: 20px;
  font-weight: bold;
}


@media (max-width: 900px){
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }

  .product-card-search img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}