

.product-bar{
  display: flex;
  justify-content: space-between;
  background-color: #0167B1;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.product-bar button {
  display: flex;
  align-items: center;
  background-color: #0167B1;
  border: none;
  color: white;
}

.product-bar a{
  text-decoration: none;
}

.image-1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.card-flex{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: 50%;
}

.card {
    width: 180px;
    padding: 10px;
}

.card p{
    display: block;
    height: 25px;
    overflow: hidden;
}

.product-container-1{
  overflow: hidden;
  padding: 0px 10% 50px 10%;
}

.projects {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

/* hide vertical scroll */
.projects::-webkit-scrollbar {
  height: 5px;
}

.projects::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Card */
.card {
  min-width: 160px;   /* important */
  flex: 0 0 auto;     /* prevents shrinking */
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  height: 185px;
  width: 185px;
  object-fit: cover;
}

.card-body {
  padding: 5px;
}

.card-body h5{
  font-weight: 600;
}

.one-line-text {
  white-space: nowrap;        /* Prevent text from going to next line */
  overflow: hidden;           /* Hide extra text */
  text-overflow: ellipsis;    /* Show ... */
}


.cabo-h5{
  text-decoration: line-through;
  font-weight: 400;
  color: #8a8989;
  font-size: small;
}

.product-btn{
  background-color: #FE6803;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

@media (max-width: 330px){
    .product-bar button {
        margin: 0%;
        padding: 0%;
    }
}