

.product-page{
    padding: 0% 10%;
}


.product-page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0px 20px 20px 20px;
}


.product-page-name{
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: white;
}


.product-card {
    width: 90%;
    padding: 10px;
}

.product-card p{
    display: block;
    height: 25px;
    overflow: hidden;
}

/* Card */
.product-card {
  min-width: 190px;   /* important */
  flex: 0 0 auto;     /* prevents shrinking */
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card-image {
  height: 185px;
  width: 185px;
  object-fit: cover;
}

.product-card-body {
  padding: 5px;
}

.product-card-body h5{
  font-weight: 600;
}

.product-one-line-text {
  white-space: nowrap;        /* Prevent text from going to next line */
  overflow: hidden;           /* Hide extra text */
  text-overflow: ellipsis;    /* Show ... */
}


.product-cabo-h5{
  text-decoration: line-through;
  font-weight: 400;
  color: #8a8989;
  font-size: small;
}

@media (max-width: 1350px){
    .product-page{
        padding: 0% 5%;
    }
}

@media (max-width: 600px){

  .product-page {
    padding: 2% 5%;
  }

  .product-page-name {
    font-size: small;
    
  }
}

@media (max-width: 490px){
  .product-page-name {
    font-size: small;
    
  }
}


@media (max-width: 345px) {
  .product-page-name {
    font-size: 10px;
  }
}